<launch>
    <node pkg="study_pkg" type="sender_node.py" name="sender" output="screen">
        <remap from="chatter" to="my_topic"/>
    </node>
    <node pkg="study_pkg" type="receiver_node.py" name="receiver" output="screen">
        <remap from="chatter" to="my_topic"/>
    </node>
    <group ns="new_ns">
        <include file="$(find study_pkg)/launch/another_one.launch"/>
    </group>
</launch>
